@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0px auto;
    max-width: 1600px;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

ul li{
    list-style-type: none;
}

.section-lg{
    padding: 50px 0px;
}

.small-heading{
  text-transform: uppercase;
  font-size: 15px;
  color: #f8c301;
  font-weight: 500;
}

.small-heading span{
  display: inline-block;
  height: 1px;
  width: 40px;
  margin-right: 20px;
  opacity: .7;
  background-color: #f8c301;
  margin-bottom: 5px;
}

.common-heading{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.common-heading h2{
  text-transform: uppercase;
  color: #085291;
  font-weight: 600;
  font-size: 24px;
}


.primary-color{
    color: #191919;
}

.secondary-color{
    color: #5c5c5c;
}

.view-btn{
    color: #085291;
    font-weight: 700;
    font-size: 18px;
}

.view-btn:hover{
    color: #085291;
}

.view-btn span{
    margin-left: 10px;
}

.carousel-item img{
    width: 100%;
    height: 600px;
}

.carousel, #header{
    position: relative;
}

.upper-header{
    background-color: #085291;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select#website-select{
  border: none;
  border-radius: 30px;
  padding: 8px 5px;
  background-color: #ffffffee;
  }

.upper-header .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-upper-header{
    display: flex;
    gap: 20px;
}

.left-upper-header a{
    color: #fff;
}

.left-upper-header a span{
    margin-right: 10px;
    font-size: 14px;
}


.right-upper-header{
    display: flex;
    gap: 20px;
    align-items: center;
}

.right-upper-header a{
    color: #fff;
}

.right-upper-header a:hover{
    text-decoration: underline;
}

.payment-btn{
    background-color: #f8c301;
    padding: 10px;
    color: #191919  ;
    border-radius: 50px;
}

.carousel-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(255, 255, 255, 0) 100%);
}

/* .banner-heading{
  position: relative;
} */

.banner-heading h1{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, 50%);
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 54px;
    background: -webkit-linear-gradient(hsl(0, 0%, 82%), #f8c301);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lower-header{
    position: absolute;
    left: 0;
    top: 9.5%;
    width: 100%;
    background-color: #e9f2ff;
}

.lower-header .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.lower-header img{
    width: 80px;
}

.lower-header .logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.lower-header .school-name{
    color: #085291;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
  
    ul.nav{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: flex-start;
        width: 100%;
    }

    ul.nav .nav-li > a{
        padding: 0px 0px 15px 0px;
        color: #085291;
        font-weight: 500;
    }

    ul.nav .nav-li > a{
        margin: 0px 20px;
    }

    ul.nav .nav-li > a.active, ul.nav .nav-li > a:hover{
        border-bottom: 5px solid #f8c301;
    }
    
    ul.nav a{
        text-decoration: none;
        padding: 9px 0px;
        font-size: 16px;
        cursor: pointer;
    }
  
    ul.nav li{
      position: relative;
    }

    .nav-li a.active, .nav-li a:hover{
      color: #fff;
    }

    ul.nav li:hover .dropdown {
      visibility: visible;
      opacity: 1;
      z-index: 1000;
      /* transform: translateY(10px); */
    }
    
    ul.nav li .dropdown{
      visibility: hidden;
      opacity: 0;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      left: 20px;
      top: 170%;
      visibility: hidden;
      z-index: 10;
      -webkit-transition: all 0.3s linear 0s;
      transition: all 0.3s linear 0s;
      text-align: left;
      width: 230px;
      position: absolute;
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
    }
    
    ul.nav li .dropdown li{
      padding: 10px 15px 10px 15px;
      border-bottom: 1px solid #f2f2f2;
      width: 100%;
    }
  
    ul.nav li .dropdown li:last-child{
      border-bottom: none;
    }
    
    ul.nav li .dropdown a{
        font-weight: 500;
        font-size: 14px;
        color: #085291;
      text-transform: capitalize;
    }
  
    ul.nav li .dropdown ul li{
      color: v;
    }
  
    ul.nav li .dropdown li:hover,  ul.nav li .dropdown li.active{
      background-color: #085291;
    }
  
    ul.nav li .dropdown li:hover a,  ul.nav li .dropdown li.active a{
      color: #fff;
      padding-right: 15px;
    }
    
    ul.nav li .dropdown a span{
    }
  
    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        padding: 0;
        margin-right: 5px;
        margin-left: 5px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        opacity: .5;
        transition: opacity .6s ease;
        position: relative;
    }

    .carousel-indicators .active{
        opacity: 1;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
        border: none;
        border-radius: 50%;
        background: transparent;
    }

    .enroll-div{
        position: absolute;
        bottom: -9%;
        left: 0;
        right: 0;
        background-color: #f2f2f2;
        padding: 15px 0px;
    }

    .enroll-div .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .enroll-div .payment-btn{
        background-color: transparent !important;
        color: #085291 !important;
    }

    .enroll-div .payment-btn svg{
        stroke: #085291 !important;
    }

    .left-enroll{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


/* feature content css start */


.features-section{
  background-image: url('images/school2.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.feature-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #085291;
    opacity: 0.9;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.features-section .common-heading{
  position: relative;
  z-index: 1;
  color: #fff;
}

.features-section .common-heading h2{
  position: relative;
  z-index: 1;
  color: #fff;
}

.feature-inner{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

.feature-item{
  border: 2px solid #FFFFFF21;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  gap: 25px;
  color: #fff;
}

.feature-item img{
  width: 80px;
}

.feature-item .feature-desc{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* feature content css end */


/* about content css start */

.about-inner{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  align-items: center;
}

.left-about img{
    width: 100%;
}

.middle-about{
  padding: 0px 20px;
}

.card-body{
  padding: 0;
}

.card-title{
  text-align: center;
  text-transform: uppercase;
  background-color: #085291;
  color:#fff;
  padding: 15px;
}

.card-text{
  padding: 25px;
}

.card-text p img{
  margin-right: 5px;
  width: 50px;
}

/* about content css end */

/* event calender css start */

.event-calender{
    background-color: #fff;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .header #month {
    color: #085291;
    font-size: 30px;
    font-weight: 600;
  }
  
  .header button {
    width: 75px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 3px;
    color: white;
  }
  
  .header button {
    background-color: #085291;
  }
  .weekdays {
    width: 100%;
    display: flex;
    background-color: #2f3640;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
  }
  
  .weekdays div {
    width: 100px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
  }
  
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .day {
    width: 66px;
    height: 49px;
    padding: 12px;
    cursor: pointer;
    margin: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px #cbd4c2;
    color: #7f8fa6;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: rgba(112, 111, 211, 0.1);
    color: #706fd3;
  }
  
  #currentDay {
    background-color: #706fd3;
    color: #fff;
  }
  
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #3d3d3d;
    color: #fff;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  
  .event.holiday {
    background-color: palegreen;
    color: #3d3d3d;
  }
  
  .plain {
    cursor: default;
    box-shadow: none;
  }
  
  #modal {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  #addEvent,
  #viewEvent {
    display: none;
    width: 350px;
    background-color: #fff;
    padding: 25px;
    position: absolute;
    z-index: 20;
  }
  
  #addEvent h2,
  #viewEvent h2 {
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  #txtTitle {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #cbd4c2;
    font-size: 16px;
  }
  
  #btnSave {
    background-color: #2ed573;
  }
  
  .btnClose {
    background-color: #2f3542;
  }
  
  #viewEvent p {
    margin-bottom: 20px;
  }
  
  #btnDelete {
    background-color: #ea2027;
  }
  
  .error {
    border-color: #ea2027 !important;
  }

  .event-desc{
    border: 1px solid #d1d1d1;
    overflow: hidden;
    padding: 40px 30px 30px;
    min-height: 400px;
  }

  .event-desc h3{
    font-size: 20px;
    margin: 0 0 20px;
    padding: 0 0 15px;
    border-bottom: 1px solid #d1d1d1;
  }

  .event-desc ul li span{
    font-size: 16px;
    color: #555;
    margin-right: 10px;
  }

/* event calender css end */


/* photo gallery css start */

.carousel-item.gallery img {
    height: 450px;
}

.photo-desc {
    margin-top: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
}

.gallery__item {
    box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative; /* Required for caption positioning */
}

figure {
    margin: 0;
}

.gallery__image {
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    height: 100%;
    width: 100%;
}

.gallery__image:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.15);
}

.gallery__image__caption {
    display: block; /* Ensure captions are always present */
    position: absolute;
    bottom: 10px; /* Adjust caption positioning */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.375rem;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px;
    white-space: nowrap;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; /* Prevent interference with clicks */
}

.gallery__item:hover .gallery__image__caption {
    opacity: 1; /* Show caption on hover */
}

.gallery__navigation--next,
.gallery__navigation--prev,
.gallery__navigation--close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 0;
    height: 42px;
    opacity: 0.5;
    overflow: hidden;
    padding: 0;
    transition: opacity 0.2s ease-in-out;
    width: 42px;
}

.gallery__navigation--next:hover,
.gallery__navigation--prev:hover,
.gallery__navigation--close:hover {
    opacity: 1;
}

.gallery__navigation--next::before,
.gallery__navigation--prev::before {
    display: flex;
    content: "";
    border: solid #fff;
    border-width: 0 0.25rem 0.25rem 0;
    padding: 0.5rem;
}

.gallery__navigation--next {
    right: 1.5rem;
    transform: rotate(-45deg);
}

.gallery__navigation--prev {
    left: 1.5rem;
    transform: rotate(135deg);
}

.gallery__navigation--close {
    top: 2rem;
    right: 2rem;
}

.gallery__navigation--close::before {
    position: absolute;
    left: 1rem;
    background-color: #fff;
    content: " ";
    height: 33px;
    transform: rotate(45deg);
    width: 2px;
}

.gallery__navigation--close::after {
    position: absolute;
    left: 1rem;
    background-color: #fff;
    content: " ";
    height: 33px;
    transform: rotate(-45deg);
    width: 2px;
}

.gallery__modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    inset: 0;
    overflow-y: scroll;
    width: 100%;
    z-index: 1;
}

.gallery__modal img {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
}

.gallery__modal[aria-hidden=true] {
    display: none;
}

.gallery__modal[aria-hidden=false] {
    display: flex;
}

.noscroll {
    overflow: hidden;
}

/* photo gallery css end */

/* footer css start */

#footer{
    background-color: #085291;
    color: #fff;
}

.footer-inner img{
  width: 140px;
}

.footer-inner{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.footer-links hr {
  width: 80px;
  height: 5px;
  border-color: #fff000;
}

.footer-links ul li{
  padding: 7px 0px;
}

.footer-links ul li a{
  color: #fff;
}

.footer-links ul li:hover a{
  text-decoration: none;
  color: #fff000;
  text-decoration: underline;
}

.lower-footer{
  padding: 30px 0px;
  border-top: 2px solid #FFFFFF21;
}

.lower-footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-footer-links p{
    margin: 0;
    color: #fff;
    font-size: 14px;
}

/* footer css end */

